{% extends 'POSBundle:Default:index.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block content %}Test Hello{% endblock %}

{% block message %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
     <div class="alert alert-warning">{{ flashMessage }}</div>
    {% endfor %}
{% endblock %}


{% block category %}
  {{ form_start(form) }}
  {{ form_row(form.category) }}
  {{ form_end(form) }}

{% endblock %}

{% block category_list %}
    {{ form_start(form_remove) }}
    {{ form_row(form_remove.name) }}
    {{ form_row(form_remove.remove) }}

    {{ form_end(form_remove) }}

{% endblock %}
