{# src/AppBundle/Resources/views/Task/new.html.twig #}

<html>

<head>

    {% block javascripts %}
        {% javascripts  '@TestBundle/Resources/public/js/jquery-2.2.0.min.js'
                        '@TestBundle/Resources/public/js/*'

        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
{# ... #}
{{ form_start(form) }}
{# render the task's only field: description #}
{{ form_row(form.name) }}


<h3>Tags</h3>
<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
    {# iterate over each existing tag and render its only field: name #}
    {% for tag in form.tags %}
        <li>{{ form_row(tag.name) }}</li>
    {% endfor %}
</ul>
{{ form_end(form) }}

{# ... #}


</body>


</html>